app-debug/
*.bak
openagent_*/
.opencode/
.swarn/
*cache/
*tmp/
__pycache__/
.opencode-home/
*.pyc
*.pyo
*.log
logs/
lib64/
build/
dist/
__pycache__/
*.pyc
*.pyo
*.plugin
.venv/
.sisyphus/
.git/
.cache/
*.zip
*.webm
*.log
*.tmp
*.kate-*

config.json
modules_loaded/
*.egg-*/
*/script/*
*script*
.default_core
.cache
base16-opencode/*
*answer.*
